/* A simple CSS file for the Hyperliquid Terminal app */

Screen {
    layout: vertical;
}

#app-grid {
    layout: grid;
    grid-size: 2 2;
    height: 1fr;
}

MarketInfoWidget {
    dock: top;
    height: 3;
    background: $surface;
    color: $text;
    border: solid $accent;
    text-align: center;
    content-align: center middle;
    text-style: bold;
}

OrderBookWidget,
RecentTradesWidget {
    width: 100%;
    height: 100%;
    border: round $primary;
    padding: 0 1;
}

CandlestickChart {
    column-span: 2;
    width: 100%;
    height: 100%;
    border: round $primary;
    padding: 0 1;
}

.widget-header {
    text-align: center;
    background: $accent;
    color: $text;
    text-style: bold;
    padding: 1;
    dock: top;
}

DataTable {
    height: 1fr;
    width: 100%;
}

AssetSelectionScreen {
    align: center middle;
}

#asset_input_container {
    width: 60;
    height: auto;
    border: thick $accent;
    background: $surface;
    padding: 1 2;
}

Input {
    width: 100%;
    margin: 1 0;
}

Label {
    width: 100%;
    text-align: center;
}